<h2 class="d-flex justify-content-center">Examples</h2>
<%= link_to "Reactive CRUD", broker_accounts_path, class: "d-flex justify-content-center" %>
<%= link_to "Reactive CRUD using the power of Turbo.renderStreamMessage", custom_select_fields_path, class: "d-flex justify-content-center" %>
<%= link_to "Sortable Menu", sortable_menu_index_path, class: "d-flex justify-content-center" %>