<turbo-frame id="choice-form">
  <div class="form-group string required">
    <label class="string required justify-content-start">Choices</label>
    <div class="input-group">
      <% is_invalid_class = error.present? ? "is-invalid" : "" %>
      <input
        class="form-control <%= is_invalid_class %> string required"
        type="text"
        name="choice"
        data-custom-select-fields-target="choiceInputField"
      >
      <div class="input-group-append">
        <button
          class="btn btn-small btn-primary"
          type="button"
          data-action="custom-select-fields#addChoice"
          data-href="<%= new_custom_select_field_choice_path %>"
          data-method="get"
        >+</button>
      </div>
      <% if error.present? %>
        <div class="invalid-feedback"><%= error %></div>
      <% end %>
    </div>
  </div>
</turbo-frame>